{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  <div class="relative flex flex-row gap-6 flex-wrap justify-center items-center">
    {{- range . }}
      <a href="{{ .RelPermalink }}" 
         class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center rounded-2xl bg-white border border-gray-100 dark:text-white dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        {{ .LinkTitle }}
      </a>
    {{- end }}
  </div>
{{- end }}