<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="bg-white dark:bg-gray-950">
    <header>{{ partial "header.html" . }}</header>
    <main class="space-y-40 mb-40">
      <div class="relative" id="home">
        <div
          aria-hidden="true"
          class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          ></div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          ></div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </main>
    <footer class="py-20">{{ partial "footer.html" . }}</footer>

    {{ partial "head/js.html" . }}
  </body>
</html>
